
 body{
     color: green;
     font-weight:normal;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 h1,h2{text-decoration: underline;}
 p.para1{
     color: blue;
     font-size: 25px;
}
p.para2{
    color:purple;
    font-size: 25px;
}
p.para3{
    color:purple;
    font-size: medium;
    font-style: italic;
}